body {
  background-image: url('images/broken_noise.png');

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: url('images/broken_noise_@2X.png');
  }


  font-family: 'Merriweather', serif;
  color: #C2C2C2;
  font-size: 30px;

  text-align: center;
  margin-top: 100px;
  
}

/* from http://afarkas.github.io/webshim/demos/demos/webforms/styler/index.html?range */
.ws-range, input[type="range"] {width: 400px;height: 14px;border-radius: 5px;background: #994448;-webkit-appearance: none;cursor: pointer;border: 0;outline: none;padding: 0;margin: 4px 0;}
.ws-range .ws-range-thumb {width: 20px;height: 20px;border: 1px solid #666666;border-radius: 50%;background: #efefef;}
.ws-range.ws-focus .ws-range-thumb {border-color: #333333;background: #fafafa;}
.ws-range.ws-active .ws-range-thumb {border-color: #000000;background: #ffffff;}
.ws-range .ws-range-min {display: none;height: 100%;background: tranparent;}
input[type="range"]::-moz-range-track {border: none;background: transparent;}
input[type="range"]::-ms-tooltip {display: none;}
input[type="range"]::-webkit-slider-thumb {width: 20px;height: 20px;border: 1px solid #666666;border-radius: 50%;background: #efefef;-webkit-appearance: none;}
input[type="range"]::-ms-track {width: 400px;height: 14px;border-radius: 5px;background: #d0444b;color: transparent;border: 0;}
input[type="range"]::-moz-range-thumb {width: 20px;height: 20px;border: 1px solid #666666;border-radius: 50%;background: #efefef;}
input[type="range"]::-ms-thumb {width: 20px;height: 20px;border: 1px solid #666666;border-radius: 50%;background: #efefef;}
input[type="range"]:focus::-webkit-slider-thumb {border-color: #333333;background: #fafafa;}
input[type="range"]:focus::-moz-range-thumb {border-color: #333333;background: #fafafa;}
input[type="range"]:focus::-ms-thumb {border-color: #333333;background: #fafafa;}
input[type="range"]:active::-webkit-slider-thumb {border-color: #000000;background: #ffffff;}
input[type="range"]:active::-moz-range-thumb {border-color: #000000;background: #ffffff;}
input[type="range"]:active::-ms-thumb {border-color: #000000;background: #ffffff;}
input[type="range"]::-moz-range-progress {display: none;height: 100%;background: tranparent;}
input[type="range"]::-ms-fill-lower {display: none;height: 100%;background: tranparent;}
.no-cssrangeinput input[type="range"] {background: transparent;margin: 0;border: 0;min-height: 22px;}
