body {
  background-image: url('images/broken_noise.png');

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: url('images/broken_noise_@2X.png');
  }

  font-family: 'Merriweather', serif;
  color: #E0DEDE;
  font-size: 30px;

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
      font-size: 60px;
  }

  text-align: center;
  margin-top: 100px;
}

.display {
  #bpm-value {
    margin-top: -20px;
    padding-bottom: 20px;
  }
  font-size: 40px;

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
    font-size: 80px;
  }
}

/* from http://afarkas.github.io/webshim/demos/demos/webforms/styler/index.html?range */
input[type="range"] {
  width: 330px;
  height: 14px;border-radius: 5px;

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
    width: 640px;
    height: 28px;border-radius: 10px;
  }

  background: #B19454;
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 0;
  margin: 4px 0;
}

input[type="range"]::-moz-range-track {border: none;background: transparent;}
input[type="range"]::-ms-tooltip {display: none;}
input[type="range"]::-webkit-slider-thumb {

  width: 35px;height: 35px;

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
    width: 105px;height: 105px;
  }

  border-radius: 50%;
  background: #E0DEDE;
  -webkit-appearance: none;
}

input[type="range"]::-ms-track {width: 400px;height: 14px;border-radius: 5px;background: #d0444b;color: transparent;border: 0;}
input[type="range"]::-moz-range-thumb {width: 20px;height: 20px;border: 1px solid #666666;border-radius: 50%;background: #ffffff;}
input[type="range"]::-ms-thumb {width: 20px;height: 20px;border: 1px solid #666666;border-radius: 50%;background: #ffffff;}
input[type="range"]:focus::-webkit-slider-thumb {border-color: #E0DEDE;background: #E0DEDE;}
input[type="range"]:focus::-moz-range-thumb {border-color: #E0DEDE;background: #ffffff;}
input[type="range"]:focus::-ms-thumb {border-color: #E0DEDE;background: #ffffff;}
input[type="range"]:active::-webkit-slider-thumb {border-color: #333333;background: #E0DEDE;}
input[type="range"]:active::-moz-range-thumb {border-color: #333333;background: #ffffff;}
input[type="range"]:active::-ms-thumb {border-color: #333333;background: #ffffff;}
input[type="range"]::-moz-range-progress {display: none;height: 100%;background: tranparent;}
input[type="range"]::-ms-fill-lower {display: none;height: 100%;background: tranparent;}
